{% extends "hydro_var_monitor/base.html" %}

{% load static %}

{% block header_buttons %}
{% endblock %}

{% block app_navigation_items %}
    <button  id="instructions" type="button" class="btn btn-primary btn-block" >Instrucciones</button>
 <!-- <li class = "title">Instrucciones</li>
  <p class = "instructions">Elija una variable hidrológica, un satélite correspondiente, y un punto en el mapa.
      Entonces escoja “cargar mapa” para cargar un imagen del conjunto de datos o puedes escoger “mostrar gráfico”
      para ver un gráfico de la variable con el paso de tiempo. Por favor tenga paciencia. A veces uno necesita
      cinco minutos o más para cargar los gráficos.
      Si quieres comparar los valores promedios de algunos conjuntos de datos puedes tocar “comparar promedios”.</p> -->
  <li class="title">1. Elija Variable Hidrológica</li>
  <select class="form-select" aria-label="variable selector" id="select-variable">
    <option hidden disabled selected value></option>
    <option value="air_temp">Temperatura del Aire</option>
    <option value="ndvi">NDVI</option>
    <option value="precip">Precipitación</option>
    <option value="soil_moisture">Humedad del Suelo</option>
    <option value="soil_temperature">Temperature del Suelo</option>

  </select>

  <li class="title">2. Elija el Satélite </li>
  <select class="form-select" aria-label="data source selector" id="select-source"></select>

  <li class="title">3. Cargar Datos </li>
  <button  id="load-map" type="button" class="btn btn-primary btn-block" >Cargar Mapa</button>
  <button id="clear-map" type="button" class="btn btn-primary btn-block">Despejar Mapa</button>
  <button id="plot-series" class="btn btn-primary btn-block">Mostrar Gráfico</button>

  <li class="title">4. Comparar los Promedios</li>
  <button id="compare" class="btn btn-primary btn-block">Comparar</button>
{% endblock %}

{% block app_content %}
  <div id="map"></div>
  <div id="loading-icon">
    <img src="{% static 'hydro_var_monitor/images/loader.gif' %}"/>
  </div>
{% endblock %}

{% block after_app_content %}
  {# Chart Modals #}

  <div class="modal fade" id="chart_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h2 style="text-align: center">Las Tendencias con el Tiempo <span id="request-status" class="load-status"/></h2>
          </div>
        </div>

        <div class="modal-body">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast">
              <div class="panel panel-default">
                 <div id="chart"></div>
                <div id="forecast-chart"></div>
                <div id="forecast-table"></div>
              </div>
            </div> <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="flow_duration">
              <div class="panel panel-default">
                <div id='flowduration-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button id = "download" type="button" class="btn btn-default">Descargar</button>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Instrucciones</h4>
      </div>
      <div class="modal-body">
        <p>Elija una variable, un satélite correspondiente y un punto en el mapa.  Posteriormente,
            escoja “cargar mapa” para visualizar una imagen del conjunto de datos o  escoger
            “mostrar gráfico” para observar un gráfico de la variable con el paso del tiempo. Por favor
            tenga paciencia!, puede tardar hasta cinco minutos o más para cargar los gráficos. Finalmente,
            para visualizar los promedios de algunos conjuntos de datos hacer clic en “comparar promedios".</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <link href="{% static 'hydro_var_monitor/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% csrf_token %}
  <script>
      const URL_GETMAPID = "{% url 'hydro_var_monitor:get-map-id' %}"
      const URL_GETPLOT = "{% url 'hydro_var_monitor:get-plot' %}"
      const URL_COMPARE = "{% url 'hydro_var_monitor:compare' %}"
      const SOURCES = JSON.parse('{{ sources|safe }}')
  </script>
  <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
          integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
          crossorigin=""></script>
  <script src="{% static 'hydro_var_monitor/js/main.js' %}" type="text/javascript" defer></script>

        <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@3.0.4/dist/esri-leaflet.js"
    integrity="sha512-oUArlxr7VpoY7f/dd3ZdUL7FGOvS79nXVVQhxlg6ij4Fhdc4QID43LUFRs7abwHNJ0EYWijiN5LP2ZRR2PY4hQ=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet Vector from CDN -->
  <script src="https://unpkg.com/esri-leaflet-vector@3.1.1/dist/esri-leaflet-vector.js"
    integrity="sha512-7rLAors9em7cR3/583gZSvu1mxwPBUjWjdFJ000pc4Wpu+fq84lXF1l4dbG4ShiPQ4pSBUTb4e9xaO6xtMZIlA=="
    crossorigin=""></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}
