{% extends "hydro_var_monitor/base.html" %}

{% load static %}

{% block header_buttons %}
{% endblock %}

{% block app_navigation_items %}
  <li class = "title">Instructions</li>
  <p class = "instructions">Choose a hydrologic variable, a corresponding satelite and a point on the map. Then choose load map to load a visual image of the
  dataset or plot series to see a graph of the average values for each day of the year using values for the last 30 years compared to the
  current years data. Please be patient. It can take up to 5 minutes to load the graphs, especially when using the GLDAS dataset.
  If you would like to compare the average values amost several datasets, please select compare averages and it will pull up a graph of the averages
  for the selected hydrologic variable using all the datasets.</p>
  <li class="title">1. Select Hydrologic Variable</li>
  <select class="form-select" aria-label="variable selector" id="select-variable">
    <option hidden disabled selected value></option>
    <option value="air_temp">Air Temperature</option>
    <option value="ndvi">NDVI</option>
    <option value="precip">Precipitation</option>
    <option value="soil_moisture">Soil Moisture</option>
    <option value="soil_temperature">Soil Temperature</option>

  </select>

  <li class="title">2. Choose Satellite/Model Source</li>
  <select class="form-select" aria-label="data source selector" id="select-source"></select>

  <li class="title">3. Load Data</li>
  <button  id="load-map" type="button" class="btn btn-primary btn-block" >Load Map</button>
  <button id="clear-map" type="button" class="btn btn-primary btn-block">Clear Map</button>
  <button id="plot-series" class="btn btn-primary btn-block">Plot Series</button>

  <li class="title">4. Compare Averages</li>
  <button id="compare" class="btn btn-primary btn-block">Compare</button>
{% endblock %}

{% block app_content %}
  <div id="map"></div>
  <div id="loading-icon">
    <img src="{% static 'hydro_var_monitor/images/loader.gif' %}"/>
  </div>
  <div id="myModal" class="modal">

  <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Please be patient. It may take up to 5 minutes to load graph.</p>
    </div>

  </div>
{% endblock %}

{% block after_app_content %}
  {# Chart Modals #}

  <div class="modal fade" id="chart_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h2 style="text-align: center">Trends over time <span id="request-status" class="load-status"/></h2>
          </div>
        </div>

        <div class="modal-body">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast">
              <div class="panel panel-default">
                 <div id="chart"></div>
                <div id="forecast-chart"></div>
                <div id="forecast-table"></div>
              </div>
            </div> <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="flow_duration">
              <div class="panel panel-default">
                <div id='flowduration-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="about_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="csv_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h2 style="text-align: center">Upload Observational Data</h2>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <link href="{% static 'hydro_var_monitor/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% csrf_token %}
  <script>
      const URL_GETMAPID = "{% url 'hydro_var_monitor:get-map-id' %}"
      const URL_GETPLOT = "{% url 'hydro_var_monitor:get-plot' %}"
      const URL_COMPARE = "{% url 'hydro_var_monitor:compare' %}"
      const SOURCES = JSON.parse('{{ sources|safe }}')
  </script>
  <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
          integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
          crossorigin=""></script>
  <script src="{% static 'hydro_var_monitor/js/main.js' %}" type="text/javascript" defer></script>

        <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@3.0.4/dist/esri-leaflet.js"
    integrity="sha512-oUArlxr7VpoY7f/dd3ZdUL7FGOvS79nXVVQhxlg6ij4Fhdc4QID43LUFRs7abwHNJ0EYWijiN5LP2ZRR2PY4hQ=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet Vector from CDN -->
  <script src="https://unpkg.com/esri-leaflet-vector@3.1.1/dist/esri-leaflet-vector.js"
    integrity="sha512-7rLAors9em7cR3/583gZSvu1mxwPBUjWjdFJ000pc4Wpu+fq84lXF1l4dbG4ShiPQ4pSBUTb4e9xaO6xtMZIlA=="
    crossorigin=""></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}
